h2{color: black}
h2{background-color: #ecddc8}
body{background-image: url(http://www.fond-ecran-hd.net/pc-driver/664.jpg)}
h1{color: black}
h1{background-color: #ecddc8}
h1{font-size: 40px}
p{font-size: 20px}
p{font-family: Helvetica;}
h1{font-family: Courier, monospace;}
h1{line-height: 1.8;}
h1{letter-spacing: 5px;}
h1{font-weight: lighter;}
h2{font-weight: lighter;}
p{font-weight: lighter;}
h2{text-align: center;}
h1{text-align: center;}
p{text-align: center;}
p{background-color: #ecddc8}
#image{border-radius: 50%}
a{font-size: 20px}